openai>=1.50.0
python-dotenv>=1.2.2
psutil>=5.9.0
pyautogui>=0.9.54
pyperclip>=1.8.2
pycaw>=20240210
comtypes>=1.2.0
requests>=2.33.0
pygetwindow>=0.0.9
pywin32>=306
pyrect>=0.2.0
screen-brightness-control>=0.22.0
faster-whisper>=1.0.0
edge-tts>=6.1.0
sounddevice>=0.4.6
soundfile>=0.12.1
numpy>=1.26.0